.form-page {
    justify-content: center;
}

.form-left, .form-right {
    height: 100vh;
}

.form-left {
    width: 50vw;
    background-color: var(--bg-dirty);
}

.form-right {
    width: 50vw;
    background-color: var(--white);
    align-items: center;
}

.form {
    width: 30vw;
    margin: auto auto;
    border-radius: 12px;
}

form {
    margin: 40px auto 0px auto;
}

.input, .button {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--bg-dirty);
}

.input-box {
    display: block;
    width: 100%;
    margin: auto auto;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 600;
}

.input, .form-btn {
    width: 100%;
    height: 45px;
    padding: 10px;
    margin: .3rem auto;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid var(--black);
    background-color: var(--bg-dirty);
    border-radius: 4px;
}

.form-btn {
    margin-block: 1rem;
    cursor: pointer;
    color: var(--white);
    background-color: var(--dark-grey);
    border: 2px solid var(--black);
    transition: all 200ms ease;
}

.form-btn:hover {
    color: var(--white);
    background-color: var(--black);
}

.msg-box {
    width: 95%;
    margin: 20px auto;
    height: 40px;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--black);
    border-radius: 4px;
}

.below-form {
    justify-content: center;
    margin-bottom: 40px;
}

.msg {
    text-align: center;
}

#red {
    background-color: var(--form-red);
}

#green {
    background-color: var(--form-green);
}

@media (max-width: 1000px) {
    .form-left {
        width: 50vw;
    }

    .form-right {
        width: 50vw;
    }

    .form {
        width: 50vw;
    }
}

@media (max-width: 600px) {
    .form-page {
        flex-wrap: wrap-reverse;
    }

    .form-left {
        width: 100vw;
        /* height: 100%; */
    }

    .form-right {
        width: 100vw;
        height: 100%;
        margin-top: 50px;
    }

    .form {
        width: 350px;
    }
}